* {
    margin: 0;
    padding: 0;
}

body, ul, li, p {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin-bottom: 100px;
}

.marcador-1 {
    border: 1px solid red;
}

a {
    text-decoration: none;
    color: white;
}

header {
    background: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
}

h1 {
    text-align: center;
    margin-top: 100px;
}

img {
    max-width:100%;
    display: block;
}

/* Flexbox */

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.flex div {
    flex: 1 1 200px;
    margin: 10px;
}

/* Css Grid */

.grid1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 780px;
    margin: 0 auto;
    grid-gap: 20px;
}



@media (max-width: 767.98px) { 
    .grid1 {
        grid-template-columns: repeat(2, 1fr); /* duas colunas */
    }
}